<% provide(:title,"New content") %>
 <% @post.errors.full_messages.each do |message|%>
    <div class = "error_message">
        <%= message %>
    </div>
    <% end %>
<div class = "Post_form form">
    <h1>新規投稿</h1>
    <%= form_tag("/post/create") do %>
    <div class = "create_form">
    <p class = "textarea"><textarea name = "content" value = "<%= @content %>"></textarea></p>
    <p class = "create_submit"><input type="submit" value="投稿"></p>
    </div>
</div>
<% end %>