<% provide(:title,"投稿一覧") %>
<div class = "show_form  login_form">
    <h1>投稿一覧</h1>
<% @post.each do |post| %>
<div class = "show_content">
    <%= link_to(post.content,"/post/#{post.id}/edit") %>
</div>
<% end %>
</div>
