<% provide(:title,"Member edit") %>
<div class = "form">
    
    <% if @error_message %>
    <div class = "error_message">
    <% end %>
    
    <%= form_tag("/user/#{@user.id}/update",multipart: true) do %>
    <div class = "edit_form">
        <p class = "edit_logo">edit</p>
        <P>Name</P>
        <p class = "text"><input type = "text" name="name" value = "<%= @current_user.name %>"></p>
        <p>Email</p>
        <p class = "text"><input type = "text" name="email" value = "<%= @current_user.email %>"></p>
        <p>Picture</p>
        <p class = "file_form"><input type = "file" name = "image"></p>
        <p class = "edit_btn"><input type="submit" value="update"></p>
    </div>
    <% end %>
</div>
   