<% provide(:title,"Member edit") %>
<div class = "login_form">
    <h1>編集</h1>
    <% if @error_message %>
    <div class = "error_message">
    <% end %>
    <%= form_tag("/user/#{@user.id}/update",multipart: true) do %>
    <div class = "login_content">
        <P>名前</P>
        <input type = "text" name="name" value = "<%= @current_user.name %>">
        <p>メールアドレス</p>
        <input type = "text" name="email" value = "<%= @current_user.email %>">
        <p>写真</p>
        <input type = "file" name = "image" ><br />
        <input type="submit" value="更新">
    </div>
    <% end %>
</div>
   