<% provide(:title,"New entry") %>
<% @user.errors.full_messages.each do |message| %>
         <div class = "error_message">
         <ul>
         <li><%= message %></li>
         </ul>
         </div>
         <% end %>
<div class = "form form_color">
    <%= form_tag("/user/new_entry",{multipart: true}) do %>
    <div class = "login_form">
    <p class = "form-title">New entry</p>
         <p>username</p>
         <p class = "username"><input value = "<%= @name %>" type = "text" name = "name" class = "login_text" maxlength="32" autocomplete="OFF" /></p>
         
         <p>email</p>
         <p class = "email"><input value = "<%= @email %>" type = "text" name = "email" class = "login_text" maxlength="32" autocomplete="OFF" /></p>
         <p class = "submit"><input type = "submit" value = "Enter" class="submit"></p>
    </div>
    <% end %>
</div>